table{
    background-color: rgb(243, 241, 241);
    width: 180px;
    margin: 40px 0 0 50px; /* Centers the table */
    height: 200px;
    border-spacing: 8px;
    position: absolute;
}
table tr td{
    background-color: rgb(234, 230, 230);
    color: rgb(47, 61, 128);
    border: 2px solid rgb(206, 205, 205);
    border-radius: 3px;
    border-top: none;
    padding: 20px;
    position: relative;
    top: 6px; 
    text-align: center;
    left: 4px;
}
.tdh{
    visibility: hidden; /* Completely hides the cells */
}
.t2{
    margin-left: 250px;
    margin-top: 40px;
    width: 15px;
}
.t2 tr td{
    position: relative;
    top:2px;
    right: 4px;
    left: auto;
}