.main{
    background-color: #fcfaf4;
    margin: 0;
}
.main p{
    width:200px;
    height: 105px;
    background-color: #dedfdf;
    font-size: small;
    display: inline-block;
}
#midP{
    width: 65%;
    height: 50px;
    padding: 2px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    overflow: auto;
    font-weight: bold;
    margin-bottom: 0%;
    margin:0;
    background-color: #fcfaf4;
}
